 #root { 
  max-width: 1250px;
  margin:0 auto;
  padding: 2rem;
  text-align: center;
 } 


.title{
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
}
.container{
  width: 1000px;
}
